<include file="common/header" />

            <div id="page-wrapper">
            <div class="graphs">
            <div class="xs">
             <h3 id="title">街道歷史</h3>
            </div>
            <div class="col-md-12">
                <div class="mailbox-content">

                   <div class="mail-toolbar clearfix">
                        
                        <div class="dropdown" style="padding-left:20px; ">
                          <a href="{:U('Street/add')}"><button type="button" class="btn btn-info">新增</button></a>
                          <a href="{:U('Street/index')}"><button type="button" class="btn btn-info">列表</button></a>
                        </div>
                        <div class="clearfix"> </div>
                        <br/>
                   </div>
                    <table class="table">
                        <thead>
                            <tr class="unread checked">
                                <td id="thead_td">編號</td>
                                <td id="thead_td">街道名稱</td>
                                <td id="thead_td">創建時間</td>
                                <td id="thead_td">操作</td>
                            </tr>
                        </thead>
                        <tbody>
                          <volist name="list" id="row">
                            <tr class="unread checked">
                                <td class="hidden-xs">{$row['id']}</td>
                                <td class="hidden-xs">{$row['name']}</td>
                                <td>{$row['created']|date="Y-m-d H:i:s",###}</td>
                                <td>
                                <div class="dropdown">
                                 
                                  <a href="{:U('Street/edit',array('id'=>$row['id']))}"><button type="button" class="btn btn-warning warning_22">修改</button></a>
                                  <a onclick="deleted({$row['id']})"><button type="button" class="btn btn-danger">刪除</button></a>
                                  <!-- <a href="{:U('Street/add_en',array('id'=>$row['id']))}" title="編輯英文信息"><button type="button" class="btn btn-info">編輯英文信息</button></a> -->
                                </div>
                                </td>
                            </tr>
                            </volist>
                        </tbody>
                    </table>
                   </div>
                  <ul class="paginList pager">{$page}</ul>
                </div>
                <div class="clearfix"> </div>
           </div>
         <include file="common/footer" />
        </div>
      </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
<!-- Nav CSS -->
<!-- Metis Menu Plugin JavaScript -->
<script>

    function deleted(id) {
        //弹出提示，是否确定删除
        if (confirm("确定要删除吗？")) {
            $.ajax({
                url: "{:U('Street/destroy')}",
                type: "post",
                dataType: "json",
                data: {id: id},
                success: function (msg) {
                    //ajax成功返回数据要执行的代码
                    if(msg.status == 403){
                      alert('删除失败');
                      return false
                    }else{
                      location.reload(true);
                    }
                    
                }
            });
        }
    }
    //推薦/取消推薦
    function recommend(id) {

            $.ajax({
                url: "{:U('Street/recommend')}",
                type: "post",
                dataType: "json",
                data: {id: id},
                success: function (msg) {
                    //ajax成功返回数据要执行的代码
                   
                    if(msg.status == 'recommend'){
                      $('#recommend_'+id).html('<i onclick="recommend('+id+')" class="fa fa-check text-red" title="推薦"></i>');
                    }
                    if(msg.status == 'cancel'){
                      $('#recommend_'+id).html('<i onclick="recommend('+id+')" class="fa fa-close text-muted" title="未推薦"></i>');
                    }
                    
                }
            });
        
    }
</script>
</body>
</html>
