<include file="common/header" />
<script src="__PUBLIC__ueditor/ueditor.config.js"></script>
<script src="__PUBLIC__ueditor/ueditor.all.js"></script>
<style>
  #start_tip{
    display: none;
  }
  #end_tip{
    display: none;
  }
  </style>
            <div id="page-wrapper">
                <div class="graphs">
                    <div class="xs">
                        <h3>
                            編輯首頁輪播圖
                        </h3>
                        <div class="tab-content">
                            <div class="tab-pane active" id="horizontal-form">
                                <form class="form-horizontal" action="{:U('Slide/update')}" method="post">
                                    <input type="hidden" name="id" value="{$slide['id']}">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="focusedinput">標題</label>
                                        <div class="col-sm-6">
                                            <input class="form-control1" id="title" name="title" type="text" value="{$slide['title']}">
                                        </div>
                                    </div>
                                    <div class="form-group filled">
                                        <label class="col-sm-2 control-label" for="focusedinput">跳轉url</label>
                                        <div class="col-sm-6">
                                                <input class="form-control1" id="url" name="url" type="text" value="{$slide['url']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="col-md-2 control-label">
                                          圖片*
                                      </label>
                                      <div class="col-md-2">
                                          <div class="cover-box">
                                              <div class="c-box">
                                                <img src="{$slide.image}">
                                              </div>
                                          </div>
                                          <input type="hidden" name="image" id="cover" value="{$slide.image}">
                                          <div style="width: 220px;">
                                              <div align="left" style="float:left">
                                                  <i id="dropzone" class="ifa fa-upload scstyle dropzone dz-clickable"><br/><h6>上傳</h6></i>
                                              </div>
                                              <div align="right" style="margin-right: -30px;">
                                                  <!--<button type="button" class="btn btn-box btn-success btn-flat" data-toggle="modal" data-target="#upload-modal"><i class="fa fa-upload"></i>上傳</button>-->
                                                  <button type="button" id="btn-clear-file" class="btn btn-box btn-danger btn-flat">
                                                      <i class="fa fa-reply"></i>
                                                      清空
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="focusedinput">狀態</label>
                                        <div class="col-sm-6">
                                            發佈&nbsp;&nbsp;<input name="status" type="radio" <if condition="$slide['status'] eq 'published'"> checked="checked" </if> value="published">&nbsp;&nbsp;&nbsp;&nbsp;草稿&nbsp;&nbsp;<input name="status" <if condition="$slide['status'] eq 'draft'"> checked="checked" </if>  type="radio" value="draft">
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="help-block">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="focusedinput">是否推薦</label>
                                        <div class="col-sm-6">
                                            是&nbsp;&nbsp;<input name="recommend" type="radio" <if condition="$slide['recommend'] eq 1"> checked="checked" </if> value="1">&nbsp;&nbsp;&nbsp;&nbsp;否&nbsp;&nbsp;<input name="recommend" type="radio" <if condition="$slide['recommend'] eq 0"> checked="checked" </if> value="0">
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="help-block">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <button class="btn btn-info">
                                                  提交
                                              </button>
                                              <button type="button" class="btn btn-warning warning_22" onclick="javascript:history.back(-1);">返回列表</button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <include file="common/footer" />
                </div>
            </div>
            <!-- /#page-wrapper -->
        </div>
 <div class="modal" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">上傳文件</h4>
            </div>
            <div class="modal-body">
                <form class="dropzone" id="dropzone" style="border: 2px dashed #d2d6de;">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="upload-finished">確定</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $('#start_time').daterangepicker({
            autoUpdateInput: false,
            timePicker: true,
            timePicker24Hour: true,
            locale: {
              format: 'YYYY-MM-DD HH:mm',
              cancelLabel: 'Clear',
            },
            "singleDatePicker": true,


        });
        var daysOfWeek = new Array('日', '一', '二', '三', '四', '五', '六');
        $('#start_time').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm'));
            $('#start_tip').css('display','block').html(picker.startDate.format('YYYY-MM-DD HH:mm')+' 星期'+daysOfWeek[picker.startDate.format('d')]);
        });

        $('#start_time').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
            $('#start_tip').css('display','block').html('');
        });

        $('#end_time').daterangepicker({
            autoUpdateInput: false,
            timePicker: true,
            timePicker24Hour: true,
            locale: {
              format: 'YYYY-MM-DD HH:mm',
              cancelLabel: 'Clear',
            },
            "singleDatePicker": true,
            function(chosen_date) {
              $('#end_time').val(chosen_date.format('YYYY-MM-DD HH:mm'));
            }
        });
        $('#end_time').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.endDate.format('YYYY-MM-DD HH:mm'));
            $('#end_tip').css('display','block').html(picker.endDate.format('YYYY-MM-DD HH:mm')+' 星期'+daysOfWeek[picker.endDate.format('d')]);
        });

        $('#end_time').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
            $('#end_tip').css('display','block').html('');

        });

</script>
<script type="text/javascript" src="__PUBLIC__js/dropzone.min.js"></script>
<script type="text/javascript">
    file_input = 'cover';
    $('#upload-finished').click(function () {
        // window.location.reload();
    });

    if(typeof(file_success_object) == 'undefined'){
        file_success_object = '.cover-box .c-box';
    }

    $("#btn-clear-file").click(function(event) {
        $("#"+file_input).val('');
        $(file_success_object).html('');
    });


    Dropzone.options.dropzone = {

        url: "{:U('Upload/upload')}",
        method: "post",
        headers: {
            "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content')
        },
        //maxFiles: 1,
        paramName: "file",
        maxFilesize: 10,
        addRemoveLinks:true,
        dictFileTooBig: "上傳文件太大，無法上傳！",
        dictResponseError: "上傳文件出錯，請聯繫管理員！",
        dictDefaultMessage: "",
        dictRemoveFile:"刪除",
        accept: function (file, done) {
            done();
        },
        success: function (file, done) {
            // alert(done);
            // console.dir(done);
            if(done.code == 1){
                if(file_input){
                    $("#"+file_input).val(done.savepath);
                }

                $(file_success_object).html('<img src="'+done.photo+'">');
            }else{
                console.dir(done);
                // alert(done.message);
            }

        }
    };
</script>
    <script type="text/javascript">
        Dropzone.options.dropzoneImg = {
            url: "{:U('Upload/upload')}",
            method: "post",
            headers: {
                "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content')
            },
            paramName: "file",
            maxFilesize: 10,

            addRemoveLinks:true,
            dictFileTooBig: "上傳文件太大，無法上傳！",
            dictResponseError: "上傳文件出錯，請聯繫管理員！",
            dictDefaultMessage: "拖動文件到此或點擊上傳",
            dictRemoveFile:"刪除",
            accept: function (file, done) {
                done();
            },
            success: function (file, done) {
                 console.dir(done);
                if(done.code == 1){
                    var imageTxt = "<div class='col-xs-3 col-md-4'>";
                    imageTxt += "<span class='deletePanel'><i class='fa fa-lg fa-trash'></i></span>";
                    imageTxt += "<div class='item'>";
                    imageTxt += "<div class='i-box'><img src='"+ done.photo +"'></div>";
                    imageTxt += "</div>";

                    // /* 圖片id */
                    imageTxt += '<input type="hidden" name="files[file_id][]" value="'+ done.file_id +'">';
                    imageTxt += "</div>";
                    $("#imagesPanel").append(imageTxt);
                    load_act();
                    resize_box();
                }else{
                    // alert(done.message);
                }
            }
        };


        /* 刪除 */
        load_act();
        function load_act(){
            $("#imagesPanel>div").hover(function() {
                $(this).find('.deletePanel').fadeIn();
            }, function() {
                $(this).find('.deletePanel').fadeOut();
            });

            $(".deletePanel").each(function(index, el) {
                $(this).click(function(event) {
                    $(this).parent().fadeOut(1000, function() {
                        $(this).remove();
                    });
                });
            });
        }

        resize_box();
        /* 動態改變大小 */
        function resize_box(){
            var css_w = $("#imagesPanel>div").css('width');
            if(css_w){
                if(css_w.indexOf('px') > -1){
                var w = $("#imagesPanel>div").width() - 5;
                }else{
                    var w = $("#imagesPanel>div").width() / 100 * $(".box-body").width() - 30;
                }

                console.log($("#imagesPanel>div").css('width') + "===" + w + "====" +$(".box-body").width() );
                $(".col-xs-3.col-md-2 .item,.col-xs-3.col-md-2 .i-box").width(w);
                $(".col-xs-3.col-md-2 .item,.col-xs-3.col-md-2 .i-box").height(w);
            }

        }

        $(function() {
            $(window).resize(function(){
                resize_box();
            })
        });
    </script>
        <!-- /#wrapper -->
        <!-- Nav CSS -->
        <link href="__PUBLIC__css/custom.css" rel="stylesheet">
            <!-- Metis Menu Plugin JavaScript -->
            <script src="__PUBLIC__js/metisMenu.min.js">
            </script>
            <script src="__PUBLIC__js/custom.js">
            </script>
<style type="text/css">
    .scstyle{
        box-shadow: none;
        border-width: 1px;
        position: relative;
        padding: 15px 5px;
        margin: 0 0 10px 0;
        min-height: 0px !important;
        padding: 15px 5px;
        height: 60px;
        width: 80px;
        font-size: 12px;
        border: 2px dashed #d2d6de;
        min-width: 80px;
        text-align: center;
        color: #fff;
        background-color: #f6303e;
        border-color: #f6303e;

    }
    .ifa{
        font-size: 20px;display: block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        text-rendering: auto;
        cursor: pointer !important;
    }
    .ifa:hover{

        background-color: #d63925;

    }
</style>
        </link>
    </body>
</html>
