<!DOCTYPE HTML>
<html>
    <head>
        <title>
            Login
        </title>
        <meta content="width=device-width, initial-scale=1" name="viewport">
            <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
            <meta content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" name="keywords"/>
            <script type="application/x-javascript">
                addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
            </script>
            <!-- Bootstrap Core CSS -->
            <link href="__PUBLIC__css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
            <!-- Custom CSS -->
            <link href="__PUBLIC__css/style.css" rel="stylesheet" type="text/css"/>
            <link href="__PUBLIC__css/font-awesome.css" rel="stylesheet">
                <!-- jQuery -->
                <script src="__PUBLIC__js/jquery.min.js">
                </script>
                <!-- Bootstrap Core JavaScript -->
                <script src="__PUBLIC__js/bootstrap.min.js">
                </script>
            </link>
        </meta>
    </head>
    <style>
        .login-error{
            color: red;
        }
    </style>
    <body id="login">
        <div class="login-logo" style="margin-top:100px;">
            MGS
        </div>
        <div class="app-cam">
            <form method="post" action="" data-ajax="false" id="QasystemForm" return="false">
                <ul class="new">
                    <li class="new_left"><p>忘記密碼了嗎？</p></li>
                    <li class="new_left"><p>在以下輸入郵箱進行修改密碼</p></li>
                    <div class="clearfix"></div>
                </ul>
                <input class="text" id="email" placeholder="Email" type="text" value="">
                <span class="login-error" id="email_err"></span>
                
                <div class="submit">
                    <input id="submit_qasystem" type="button" value="Reset Password"/>
                </div>
                <ul class="new">
                    <li class="new_left"><p><a href="{:U('Login/index')}">Login</a></p></li>
                    <div class="clearfix"></div>
                </ul>    
                
            </form>
        </div>
        <div class="copy_layout login">
            <div class="divPowerBy">
                ™技術支持
                <a href="http://www.poptek.cn">
                    普及科技
                </a>
            </div>
        </div>
<script type="text/javascript">
  $(document).ready(function(e) {
    var form = $("#QasystemForm");
    $("#submit_qasystem",form).click(function(){
      var email = $("#email").val();
      var submitData = 
          {
            email : email,
            
          };
          $.ajax({    
            type:"post",    
            url:"{:U('Login/send_mail')}",  
            data:submitData,//这里data传递过去的是序列化以后的字符串    
            success:function(data){ 
                if(data.status == 403 || data.status == 400){
                    $("#email_err").html(data.message);
                   
                }
                if(data.status == 200){
                    alert(data.message);
                   
                }
                console.dir(data);
                if(data.status == 'success'){
                    window.location.href = "{:U('Login/logining')}";
                    return false;
                }
            }    
        });
        
      });   
  });
    

$('#email').focus(function(){
    $("#email_err").html('');
});

</script>
    </body>
</html>
