<include file="common/header" />
<!--=== End Header ===-->   

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="color-green pull-left"></h1>
        <ul class="pull-left breadcrumb">
            <li><a href="{:U('Index/index')}">首頁</a> <span class="divider">/</span></li>
            <li><a href="{:U('Posts/index')}">特色景點</a> <span class="divider">/</span></li>
            <li class="active">{$post['title']}</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container" >     
    <div class="row-fluid blog-page portflio_details">    
        <!-- Left Sidebar -->
        <div class="span9">
            <div class="blog margin-bottom-30">
                <h3 class="text-center">{$post['title']}</h3>
                <!-- <div class="text-center">作者：</div> -->
                <div class="blog-img" style="font-size: 20px;"></div>
                <p>{$post['content']|htmlspecialchars_decode}</p>
            </div><!--/blog-->
            <ul class="unstyled" style="font-size: 16px">
                <li>
                    <span style="display: inline-block;vertical-align: top;"><i class="icon-time color-green"></i> 開放時間：</span>
                    <span style="display: inline-block;vertical-align: top;">{$post['business_hours']}</span>
                </li>
                <li>
                    <span style="display: inline-block;vertical-align: top;"><i class="icon-map-marker color-green"></i> 具體地址：</span>
                    <span style="display: inline-block;vertical-align: top;">{$post['address']}</span>
                </li>
            </ul>

            
            <div class="headdiv">
                <span  style="width: 100%;display: inline-block;">上一篇：
                    <if condition="$before['title'] neq NULL"> 
                        <a href="{:U(Posts/detail,array('id'=>$before['id']))}" class="handover">{$before['title']}</a>
                    <else />
                        <a class="no">無</a>
                    </if>
                </span>
                <span>下一篇：
                    <if condition="$later['title'] neq NULL"> 
                        <a href="{:U(Posts/detail,array('id'=>$later['id']))}" class="handover">{$later['title']}</a>
                    <else />
                        <a class="no">無</a>
                    </if>
                </span>
            </div>

        </div><!--/span9-->

        <!-- Right Sidebar -->
        <include file="common/page_right"/>
        <!--/span3-->
    </div><!--/row-fluid-->        
</div><!--/container-->     
<!--=== End Content Part ===-->


<style type="text/css">
	@media (max-width: 979px) {
		body{
			
			width: auto;
		}
	}
    .headdiv{
        margin-top:20px; 
        font-size: 18px;
        clear: left;
    }
    .headline{
        margin: 0px;
    }
    .handover{
        padding: 3px;
        color: #cc9966;
        font-size: 18px;
    }
    .handover:hover{
        color:#fcd600;
        text-decoration: none;
    }
    .no{
        pointer-events:none;
        color:#ddd;
        font-size: 18px;
    }
</style>
<!--=== Footer ===-->
<include file="common/footer" />