<include file="common/header" />
<style>
  #start_tip{
    display: none;
  }
  #end_tip{
    display: none;
  }
  </style>
            <div id="page-wrapper">
                <div class="graphs">
                    <div class="xs">
                        <h3>
                            新增社區圖片
                        </h3>
                        <div class="tab-content">
                            <div class="tab-pane active" id="horizontal-form">
                                <form class="form-horizontal" action="{:U('CommunityImage/create')}" method="post">
                                    <div class="form-group filled">
                                        <label class="col-sm-2 control-label" for="focusedinput">標題</label>
                                        <div class="col-sm-8">
                                                <input class="form-control1" id="title" name="title" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group filled">
                                        <label class="col-sm-2 control-label" for="focusedinput">跳轉url</label>
                                        <div class="col-sm-8">
                                                <input class="form-control1" id="url" name="url" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            封面圖
                                        </label>
                                        <div class="col-md-2">
                                            <div class="cover-box">
                                                <div class="c-box"></div>
                                            </div>
                                            <input type="hidden" name="image" id="cover" value="">
                                            <div style="width: 220px;">
                                                <div align="left" style="float:left">
                                                    <i id="dropzone" class="ifa fa-upload scstyle dropzone dz-clickable"><br/><h6>上傳</h6></i>
                                                </div>
                                                <div align="right" style="margin-right: -30px;">
                                                    <!--<button type="button" class="btn btn-box btn-success btn-flat" data-toggle="modal" data-target="#upload-modal"><i class="fa fa-upload"></i>上傳</button>-->
                                                    <button type="button" id="btn-clear-file" class="btn btn-box btn-danger btn-flat">
                                                        <i class="fa fa-reply"></i>
                                                        清空
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="focusedinput">狀態</label>
                                        <div class="col-sm-8">
                                            發佈&nbsp;&nbsp;<input name="status" type="radio" checked="checked" value="published">&nbsp;&nbsp;&nbsp;&nbsp;草稿&nbsp;&nbsp;<input name="status" type="radio" value="draft">
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="help-block">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="focusedinput">是否推薦</label>
                                        <div class="col-sm-8">
                                            是&nbsp;&nbsp;<input name="recommend" type="radio" value="1">&nbsp;&nbsp;&nbsp;&nbsp;否&nbsp;&nbsp;<input name="recommend" type="radio" checked="checked" value="0">
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="help-block">

                                            </p>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <button class="btn btn-info">
                                                  提交
                                              </button>
                                              <button type="button" class="btn btn-warning warning_22" onclick="javascript:history.back(-1);">返回列表</button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <include file="common/footer" />
                </div>
            </div>
            <!-- /#page-wrapper -->
        </div>
 <div class="modal" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">上傳文件</h4>
            </div>
            <div class="modal-body">
                <form class="dropzone" id="dropzone" style="border: 2px dashed #d2d6de;">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="upload-finished">確定</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__js/dropzone.min.js"></script>
<script type="text/javascript">
    file_input = 'cover';
    $('#upload-finished').click(function () {
        // window.location.reload();
    });

    if(typeof(file_success_object) == 'undefined'){
        file_success_object = '.cover-box .c-box';
    }

    $("#btn-clear-file").click(function(event) {
        $("#"+file_input).val('');
        $(file_success_object).html('');
    });


    Dropzone.options.dropzone = {

        url: "{:U('Upload/upload')}",
        method: "post",
        headers: {
            "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content')
        },
        //maxFiles: 1,
        paramName: "file",
        maxFilesize: 10,
        addRemoveLinks:true,
        dictFileTooBig: "上傳文件太大，無法上傳！",
        dictResponseError: "上傳文件出錯，請聯繫管理員！",
        dictDefaultMessage: "",
        dictRemoveFile:"刪除",
        accept: function (file, done) {
            done();
        },
        success: function (file, done) {
            // alert(done);
            // console.dir(done);
            if(done.code == 1){
                if(file_input){
                    $("#"+file_input).val(done.savepath);
                }

                $(file_success_object).html('<img src="'+done.photo+'">');
            }else{
                console.dir(done);
                // alert(done.message);
            }

        }
    };
</script>
        <!-- /#wrapper -->
        <!-- Nav CSS -->
        <link href="__PUBLIC__css/custom.css" rel="stylesheet">
            <!-- Metis Menu Plugin JavaScript -->
            <script src="__PUBLIC__js/metisMenu.min.js">
            </script>
            <script src="__PUBLIC__js/custom.js">
            </script>
<style type="text/css">
    .scstyle{
        box-shadow: none;
        border-width: 1px;
        position: relative;
        padding: 15px 5px;
        margin: 0 0 10px 0;
        min-height: 0px !important;
        padding: 15px 5px;
        height: 60px;
        width: 80px;
        font-size: 12px;
        border: 2px dashed #d2d6de;
        min-width: 80px;
        text-align: center;
        color: #fff;
        background-color: #f6303e;
        border-color: #f6303e;

    }
    .ifa{
        font-size: 20px;display: block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        text-rendering: auto;
        cursor: pointer !important;
    }
    .ifa:hover{

        background-color: #d63925;

    }
</style>
        </link>
    </body>
</html>
