<include file="common/header" />
<!--=== End Header ===-->

<style type="text/css">

</style>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <!-- <h1 class="color-green pull-left">Portfolio</h1> -->
        <ul class="pull-right breadcrumb">
            <li><a href="{:U('Index/index')}">首頁</a> <span class="divider">/</span></li>
            <li class="active">特色店鋪</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <div id="w">
            <!-- <div class="sort">
                <ul class="unstyled inline">
                    <li><a href="{:U('Shop/index')}" <if condition="$street_id eq ''">class="selected"</if>>全部</a></li>
                    <volist name="street" id="street_row">
                    <li><a href="{:U('Shop/index',array('street_id'=>$street_row['id']))}" <if condition="$street_id eq $street_row['id']">class="selected"</if>>{$street_row['name']}</a></li>
                    </volist>
                </ul>
            </div> -->

            <ul class="portfolio recent-work clearfix">
                <volist name="list" id="row">
                <li>
                    <a href="{:U('Shop/detail',array('id'=>$row['id']))}">
                        <em class="overflow-hidden imgsize"><img src="{$row['cover']}" alt="" /></em>
                        <span>
                            <strong>{$row['title']}</strong>
                        </span>
                    </a>
                </li>
                </volist>
            </ul>
            <div class="pagination pagination-large pagination-centered">
                <ul>{$page}</ul>
            </div>

        </div>
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->


<!--=== Footer ===-->
<include file="common/footer" />