<include file="common/header" />
<!--=== End Header ===-->     

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
        <!-- <h1 class="color-green pull-left">Portfolio</h1> -->
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">首頁</a> <span class="divider">/</span></li>
            <li class="active">史話街道</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container"> 	
	<div class="row-fluid"> 
        <div id="w">   
            <ul class="portfolio recent-work clearfix"> 
                <volist name="list" id="row">
                <li data-id="id-1" class="culture{$row['id']}">
                    <a href="{:U('CultureHeritage/detail',array('id'=>$row['id']))}">
                    	<em class="overflow-hidden imgsize"><img src="{$row['cover']}" alt="" /></em>
                        <span>
                            <strong>{$row['title']}</strong>
                        </span>
                    </a>
                </li>
                </volist>
            </ul>
            <div class="pagination pagination-large pagination-centered">
                <ul>{$page}</ul>
            </div>
        </div>                
    </div><!--/row-fluid-->         
</div><!--/container-->	 	
<!--=== End Content Part ===-->

<!--=== Footer ===-->
<include file="common/footer" />